<section class='start_section'>
  <h1 class="title_start">Gets Start</h1>
  <span class="text_gets_start">
    To get the most out of the website, we ask that you follow the requested items step by step, such as weight and height!

  </span>
</section>

<section class="go_to_imc_calc">
  <%= link_to "Go to IMC Calc", imc_area_index_path , class:"h2_title_imc"%>
  
</section>
