<section class="imc_area_section">
  <h1 class="title_imcarea">ImcArea</h1>
  <span class="text_imc_area">
    Please enter your height and weight in numbers only, example: (1.79 <- Height) (72.5 <- Weight).
    It is not necessary to inform the Kg's or M, mm and cm of the height!
  
  </span>
  
  
  <%= link_to 'Form', imc_area_calculo_path, class:'go_to_calcl' %>
</section>
