<div class='result'>
    <h1>Result</h1>
    <div class='alerts'>
        <%= flash[:imc]%><br>
        <%= flash[:situacao] %>
    
    </div>

    <%= image_tag "low_weight.png", size:'220x220', style:'margin: 15px 0 0 0;', class:'imc-icon'%>
</div>

<div class='what_this'>
    <h1> What is this </h1>
        <span>
            Underweight refers to a body mass index (BMI) below 18.5, indicating a weight insufficient for a person's height.
            Inadequate food intake: Not consuming enough calories or nutrients to meet the body's needs.
            Malnutrition: Lack of essential nutrients necessary for proper bodily functions.
            Underlying medical conditions: Certain diseases or disorders, such as digestive issues, hyperthyroidism, or cancer, can lead to unintended weight loss.

        </span> 

      <h1 class='part2'> Treatment </h1>
        <span>
            Increasing calorie intake: Consuming more calories than expended can help promote weight gain. This typically involves eating frequent, nutrient-dense meals and snacks.
            Nutrient-rich diet: Emphasizing foods high in protein, healthy fats, complex carbohydrates, vitamins, and minerals can support overall health and weight gain.
            Strength-building exercises: Incorporating resistance training can help build muscle mass, contributing to healthy weight gain.

        </span>
</div>