<div class='result'>
    <h1>Result</h1>
    <div class='alerts'>
        <%= flash[:imc]%><br>
        <%= flash[:situacao] %>
    
    </div>

    <%= image_tag "normal_weight.png", size:'220x220', style:'margin: 15px 0 0 0;', class:'imc-icon'%>
</div>

<div class='what_this'>
    <h1> What is this </h1>
        <span>
            People falling within the healthy weight category have a BMI between 18.5 and 24.9, suggesting a balanced weight relative to height.

        </span> 

      <h1 class='part2'> Treatment </h1>
        <span>
            Maintaining a healthy lifestyle, including a balanced diet and regular exercise, is crucial for maintaining a healthy weight.

        </span>
</div>