<div class='result'>
    <h1>Result</h1>
    <div class='alerts'>
        <%= flash[:imc]%><br>
        <%= flash[:situacao] %>
    
    </div>

    <%= image_tag "obsetiyII.png", size:'220x220', style:'margin: 15px 0 0 0;', class:'imc-icon'%>
</div>

<div class='what_this'>
    <h1> What is this </h1>
        <span>
             Obesity grade II is indicated by a BMI between 35 and 39.9, representing severe excess weight relative to height.
        </span> 

      <h1 class='part2'> Treatment </h1>
        <span>
            More intensive medical interventions, such as bariatric surgery, may be recommended in cases of obesity grade II, along with significant lifestyle changes.

        </span>
</div>