<div class='result'>
    <h1>Result</h1>
    <div class='alerts'>
        <%= flash[:imc]%><br>
        <%= flash[:situacao] %>
    
    </div>

    <%= image_tag "obsetiyI.png", size:'220x220', style:'margin: 15px 0 0 0;', class:'imc-icon'%>
</div>


<div class='what_this'>
    <h1> What is this </h1>
        <span>
            Obesity grade III, also known as morbid obesity, is characterized by a 
            BMI of 40 or above, representing extreme excess weight relative to height. 
            Causes may include genetic predisposition, metabolic disorders, unhealthy 
            lifestyle choices, or certain medical conditions.
        </span> 

      <h1 class='part2'> Treatment </h1>
        <span>
            Treatment for obesity grade III 
            typically requires a multidisciplinary
            approach, including medical interventions, 
            diet, exercise, and in some cases, 
            bariatric surgery to reduce the risk of 
            serious health complications.
        </span>
</div>