<div class='result'>
    <h1>Result</h1>
    <div class='alerts'>
        <%= flash[:imc]%><br>
        <%= flash[:situacao] %>
    
    </div>

    <%= image_tag "obsetiyI.png", size:'220x220', style:'margin: 15px 0 0 0;', class:'imc-icon'%>

</div>

<div class='what_this'>
    <h1> What is this </h1>
        <span>
             Obesity grade I is characterized by a BMI between 30 and 34.9, indicating a significant excess of weight relative to height.

        </span> 

      <h1 class='part2'> Treatment </h1>
        <span>
            In addition to lifestyle changes, medically supervised interventions such as weight loss medications may be considered in cases of obesity grade I.

        </span>
</div>