<div class='result'>
    <h1>Result</h1>
    <div class='alerts'>
        <%= flash[:imc]%><br>
        <%= flash[:situacao] %>
    
    </div>

    <%= image_tag "overweight.png", size:'220x220', style:'margin: 15px 0 0 0;', class:'imc-icon'%>
</div>

<div class='what_this'>
    <h1> What is this </h1>
        <span>
           Individuals classified as overweight have a BMI between 25 and 29.9, indicating excess weight relative to height.

        </span> 

      <h1 class='part2'> Treatment </h1>
        <span>
            Weight loss strategies such as diet and regular physical activity are recommended to reduce the risk of obesity-related health issues.
            
        </span>
</div>