<div class='result'>
    <h1>Result</h1>
    <div class='alerts'>
        <%= "asdasdwedrfdwerf" %><br>
        <%= "asdasdasdas" %>
    
    </div>

    <%= image_tag "low_weight.png", size:'220x220', style:'margin: 15px 0 0 0;', class:'imc-icon'%>
</div>