.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 1rem;
    left: 25%;
    width: 200px;
    height: 200px;
    background-color: #BDD5EA;
    border-radius: 10px;

}

.Forms{
    margin: 15px 0 0 0 ;
    text-align: center;

}

.label-height, .label-wight{
    color: #506680;

}

.field-height_, .field-wight_{
    border-radius: 5px;
    margin: 5px 0 5px 0;
    text-align: center;

}

.btn-calc{
    border: none;
    background: none;
    color: #506680;
    font-size: 1rem;
    margin: 0 0 5px 0;
    text-decoration: underline #577399;

}

.link{
    text-decoration: underline #577399;
    color: #506680;

}

.link:hover, .btn-calc:hover{
    color: #577399;

}